@import "tailwindcss";

:root {
  --color-bg-pdf: #ffffff;
}

@media print {
  body * {
    visibility: hidden;
  }
  #dashboard, #dashboard * {
    visibility: visible;
  }
  #dashboard {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white !important;
    color: black !important;
  }
}
